

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Circulo | Antad</title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link rel="shortcut icon" href="~/Contenido/images/logologinantad.png" />
    <link rel="stylesheet" href="../../Contenido/bower_components/bootstrap/dist/css/bootstrap.css">

    <link rel="stylesheet" href="../../Contenido/bower_components/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="../../Contenido/bower_components/Ionicons/css/ionicons.min.css">

    <link rel="stylesheet" href="../../Contenido/dist/css/AdminLTEE.css">

    <link href="~/Contenido/dist/css/skins/skin-simpletv1.css" rel="stylesheet" />

    <link rel="stylesheet" href="../../Contenido/dist/css/lightbox.min.css">
    <link href="~/Contenido/dist/css/tooltipd.css" rel="stylesheet" />
    <link href="~/Contenido/bower_components/jquery-loading/loading_ver1.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/Contenido/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="~/Contenido/bower_components/select2/css/select2.css">
    <link rel="stylesheet" href="~/Contenido/bower_components/bootstrap-daterangepicker/daterangepicker.css">

    <link rel="stylesheet" href="~/Contenido/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">



    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    @RenderSection("Scripts", required: false)

    <script src="~/Contenido/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
    <!-- <script src="../../Contenido/bower_components/jquery/dist/jquery.min.js"></script> -->
    <!-- Bootstrap 3.3.7 -->
    <script src="../../Contenido/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- FastClick -->
    <script src="../../Contenido/bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="../../Contenido/dist/js/adminlte.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.28.4/dist/sweetalert2.all.min.js"></script>


    <script src="~/Contenido/bower_components/jquery-loading/loading_ver2.js"></script>
    <script src="~/Contenido/bower_components/jquery-loading/loading_ver2.js"></script>

    <script src="~/Contenido/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Contenido/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Contenido/bower_components/select2/js/select2.js"></script>
    <script src="~/Contenido/bower_components/moment/min/moment.min.js"></script>
    <script src="~/Contenido/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>



    <style>
    </style>

</head>




<body class="hold-transition fixed skin-simplet sidebar-collapse sidebar-expanded-on-hover  ">
<div id="backd"></div>
<input type="hidden" id="tipoUsuhidden" name="name" value="@ViewData["tipoUsuario"]" />
<input type="hidden" id="administradorhidden" name="name" value="@ViewData["administradorUsuario"]" />
<input type="hidden" id="ClvUsuario" name="name" value="@ViewData["ClvUsuario"]" />
<input type="hidden" id="Avatar" name="name" value="@ViewData["Avatar"]" />
<input type="hidden" id="VisualizarHistorico" name="name" value="@ViewData["VisualizarHistorico"]" />
<input type="hidden" id="EditarHistorico" name="name" value="@ViewData["EditarHistorico"]" />
<input type="hidden" id="CambiarContrasena" name="name" value="@ViewData["CambiarContrasena"]" />


<header class="main-header">

    <a href="#" class="sidebar-toggle iconosMenuslg" data-toggle="push-menu" role="button">

    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">

        <div class="container-fluid">

            <div class="navbar-custom-menu">

                <ul class="nav navbar-nav">



                    <li class="dropdown user user-menu">
                        <a class="infousuariotop">
                            @ViewData["usuario"]
                            <img src="http://compilacionweb.online/antadweb/marca.png" class="user-image" alt="User Image">


                            <span class="hidden-xs">
                                (

                                <span>
                                    @ViewData["agencia"]

                                </span>
                                )
                            </span>
                        </a>
                    </li>


                    <!-- <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-ellipsis-v menuDerecho" aria-hidden="true"></i>
                        </a>

                        <ul class="dropdown-menu" style="background: grey;">

                            <li>
                                <a href="Url.Action("CerrarSesion","Login")"><i class="fa fa-sign-out" aria-hidden="true"></i> <span>Salir</span></a>
                            </li>

                        </ul>
                    </li>-->





                </ul>
            </div>

        </div>
    </nav>
</header>


<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;">



        <section class="sidebar">

            <!-- Sidebar user panel -->
            <div class="user-panel">

                <div class="pull-left image">
                    <img src="http://compilacionweb.online/antadweb/marca.png" class="img-circle" alt="User Image">



                </div>

                <div class="pull-left info">
                    <p id="nombreUsuarioMasterPage">@ViewData["usuario"]</p>
                    <i class="fa fa-circle text-success"></i> @ViewData["agencia"]

                </div>

            </div>

            <!-- /.search form -->
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu" data-widget="tree" style="height:800px; overflow:scroll;">
                <li><a href="MisPlanes"><i class="fa fa-calendar" aria-hidden="true"></i> <span>Mis Planes de trabajo</span></a></li>
                <!-- <li><a href="NuevoPlan"><i class="fa fa-calendar" aria-hidden="true"></i> <span>Abrir Proyecto</span></a></li>-->

                <!-- <li><a data-toggle="modal" data-target="#myModalpregunta"><i class="fa fa-calendar" aria-hidden="true"></i> <span>Nuevo Plan de trabajo</span></a></li>-->

                <li>
                    <a href="@Url.Action("CerrarSesion","Login")"><i class="fa fa-sign-out" aria-hidden="true"></i> <span>Salir</span></a>
                </li>
            </ul>

        </section>
    </div>
    <!-- /.sidebar -->
</aside>


<div class="content-wrapper">
    <!-- Main content -->




    <img src="../../Contenido/images/lojeje.png" class="user-image imagelat" alt="User Image">


    @RenderBody()


    <!-- /.content -->
</div>
<!-- <footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 1.0
    </div>

        Copyright &copy; 2019 ANTAD All rights
        reserved.
</footer>-->



<div class="control-sidebar-bg"></div>




















<!--<div id="myModalpregunta" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">


        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">¿Qué tipo de plan de trabajo desea?</h4>
            </div>
            <div class="modal-body">
                <button class="btn btn-success btn-block" id="irespecifico">Plan de trabajo especifico</button>
                <br />
                <button class="btn btn-success btn-block" id="irgeneral">Plan de trabajo General</button>
            </div>
            <div class="modal-footer">
 
            </div>
        </div>

    </div>
</div>-->







    </body>
</html>

